body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/rick-and-morty-netflix-2020-9d.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
